<div>
    <!-- tab group Routines -->
    <mat-tab-group backgroundColor="primary" mat-align-tabs="center">
        <mat-tab label="Routines">
            <div class="container routines">
                <div class="row">
                    <button (click)="addNewRoutine()" mat-fab color="primary">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>
                <div class="row">
                    <span>Add new routine</span>

                </div>
            </div>

        </mat-tab>
    </mat-tab-group>

</div>