<h2 mat-dialog-title>Add new task</h2>
<mat-dialog-content [formGroup]="formGroup" class="mat-typography">
    <mat-form-field appearance="standard">
        <mat-label>Task name</mat-label>
        <input formControlName="name" matInput placeholder="Enter Task name">
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Time it takes</mat-label>
        <input type="number" formControlName="time" matInput placeholder="Enter time in hours">
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Interval ( in days)</mat-label>
        <input type="number" formControlName="interval" matInput placeholder="Enter number of days">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="!formGroup.valid" (click)="create()" mat-button [mat-dialog-close]="formGroup"
        cdkFocusInitial>Create</button>
</mat-dialog-actions>