/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-menu-panel.menu-item {
  overflow: visible;
}

// .mat-tab-header {
//   border-top-left-radius: 30px;
//   border-top-right-radius: 30px;
// }
